<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><%= link_to "Log in", new_user_session_path %></li>
    </ul>
  </nav>
  <h3 class="text-muted"><%= link_to "Hash Notes", root_path, class: "logo" %></h3>
</div>